[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
mypy = "*"
requests-mock = "*"
coverage = "*"
mock = "*"
setuptools = "*"
wheel = "*"
twine = "*"

[requires]
python_version = "3.11"
